.subs {
  padding: 0 23px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.notWhitelisted {
  background-color: #ff6a53;
  width: 110px;
  border-radius: 8px;
  text-align: center;
  color: white;
  position: absolute;
  right: 35px;
  top: -12px;
  padding: 3px 5px;
}

.controls {
  display: flex;
  justify-content: end;

  button {
    margin-left: 14px;
  }
}
