@import 'Styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: $text-color;
  background-color: $background-secondary-color;

  .logo {
    margin-left: 30px;
    
    .logoImg {
      width: 140px;
    }
  }

  .connect {
    margin-right: 30px;
  }
}
