@import 'Styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-secondary-color;
  padding-inline: 30px;

  .logo {
    .logoImg {
      display: flex;
      width: 140px;
    }
  }
  
  .nav {
    
    .navButton {
      &:first-child {
        margin-right: 20px;
      }
    }

    .active {
      display: none;
    }

    .pending {

    }
  }

  .connect {
  }
}
