@import 'Styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.logo {
  .logoImg {
    display: flex;
    width: 140px;
  }
}

  