.pythia {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px 20px;

  .subs {
    justify-content: center;
  }
}

.title {
  min-width: 70px;
  margin-right: 10px;
}

.notWhitelisted {
  background-color: red;
  width: 110px;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-top: 5px;
  position: absolute;
  right: 35px;
}

.controls {
 display: flex;
 justify-content: end;
  
  button {
    margin-left: 14px;
  }
}
