@use 'Styles/variables';
@import 'Styles/mix';

.item {
  width: 400px;
  justify-content: center;

  @include hoverScale();

  @media (max-width: 768px) {
    margin: 25px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.stat {
  position: relative;
}
