@use 'Utils/variables' as v;

.feeds {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 100px;
  flex-wrap: wrap;

  .feed {
    width: 200px;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
      transform: translateY(-3px);
    }
  }

  .selected {
    background-color: #f5f5f5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.feedDetails {
  width: 800px;
  max-width: 100%;
  margin: auto;

  @media screen and (max-width: v.$phone) {
    margin: 20px;
    width: auto;
  }
}


