@import 'Styles/variables';

.verifiers {
  margin: 40px;

  @media screen and (max-width: $break-point-mobile) {
    margin: 20px;

    :global(.ant-table-content) {
      overflow: scroll;
    }
  }

}
