.customPair {
  justify-content: center;
  margin: 50px 0;
  width: 100%;
}

.modal {
  .content {
    flex-direction: column;
    width: 100%;
    align-items: normal;
  }
  
  .stat {
    margin-bottom: 20px;

    .label {
      margin-bottom: 10px;
    }

    .val {
      font-size: 14px;
      display: flex;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;

    .input {
      width: 100%;
    }
  }

  .back {
    width: 70px;
    margin-bottom: 10px;
  }
}