.control {
  display: flex;
  
  .executionAddress {
    display: flex;
    min-width: 210px;
    
    .executionAddressInfo {
      display: flex;
      flex-direction: column;

      .address {
        cursor: pointer;
        
        &:active {
            opacity: 0.5;
        }
      }

      .balance {
        font-size: 0.8em;
        color: #999;
      }
    }
    
    .topUp {
      margin-left: 10px;
    }
  }
  
  .subscribe {
    //width: -webkit-fill-available;
    width: 290px;
  }
}

.topUpModal {
  display: flex;
  flex-direction: column;
  
  .topUpBtn {
    margin-top: 20px;
    width: 100%;
  }
}