.control {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
  
.executionAddressInfo {
  display: flex;
  flex-direction: column;
  color: #4A6293;

  .address {
    cursor: pointer;
    color: white;
    
    &:active {
      opacity: 0.5;
    }
  }
 
}

.balance {
  font-size: 0.8em;
  color: var(--primary-color);
}

.topUp {
  margin-left: 10px;
}

.actionBtns {
  display: flex;

  .actionBtn {
    margin-left: 5px;
  }
}

.subscribe {
  width: 290px;
}

.subscribeModal {
  display: flex;
  flex-direction: column;

  .input {
    margin-top: 20px;
  }
    
  .subscribeBtn {
    margin-top: 20px;
    width: 100%;
  }
}

.signMessage {
  width: 100%;
}
