$background-color: white;
$background-secondary-color: rgb(224, 224, 224);
$hover-color: rgb(48, 36, 246);
$element-background: #0c85d0;
$text-color: black;
$text-secondary-color: #cbcbcb;
$primary-color: rgb(48, 36, 246);
$red-color: rgba(230, 0, 0, 0.9);

$break-point-desktop: 1200px;
$break-point-tablet: 768px;
$break-point-mobile: 420px;

:export {
  primaryColor: $primary-color;
  elementBackground: $element-background;
  background: $background-secondary-color;
};
