@use 'Styles/variables';
@import 'Styles/mix';

.subscription {
  width: 240px;
  justify-content: center;

  @include hoverScale();

  @media (max-width: 768px) {
    margin: 25px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #111f37;
  color: variables.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1px solid #111f37;

  &:hover {
    border: 1px solid variables.$primary-color;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.logoBg {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
}

.sybilLink {
  color: #32d4aa;

  &:hover {
    color: #186753;
  }
}

.logo {
  border-radius: 50%;
  background-color: #091325;
  width: 40px;
  height: 40px;
  position: relative;
  :global(.light-theme) & {
    background-color: gray;
  }
}

.status {
  position: absolute;
  right: 3px;
  bottom: 3px;

  .active {
    background-color: #00ff00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .inactive {
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
  }
}

.stat {
  position: relative;
}

.nextBtn {
  align-self: flex-start;
}

.label {
  color: #4a6293;
}
