@use 'Styles/variables';
@import 'Styles/mix';

.subscription {
  width: 300px;
  max-width: 100vw;
  justify-content: center;

  @include hoverScale();

  @media (max-width: 768px) {
    margin: 25px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
 
}

.menu {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #111F37;
  color: variables.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1px solid #111F37;

  &:hover {
    border: 1px solid variables.$primary-color;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  border-radius: 50%;
  background-color: #091325;
  margin-right: 14px;
  width: 46px;
  height: 46px;
  position: relative;
  :global(.light-theme) & {
    background-color: gray;
  }
}

.status {
  position: absolute;
  right: 3px;
  bottom: 3px;
  
  .active {
    background-color: #00ff00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .inactive {
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
  }
}

.info {
  display: flex;
  margin-right: 15px;
}

.stat {
  padding: 10px;
  background-color: #091325;
  border-radius: 14px;
  width: 100%;
  position: relative;

  :global(.light-theme) & {
    background-color: gray;
  }
}

.nextBtn {
  align-self: flex-start;
}

.progress {
  position: absolute;
  top: -5px;
  left: -1px;
}
