@import 'Styles/mix';
@import 'Styles/variables';

.subscription {
  // width: 350px;
  max-width: 100vw;
  justify-content: center;
  
  // @include card();
  // @include hoverScale();
  
  &:hover {
    border-color: $text-color;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    margin: 25px 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .chain {
      display: flex;
      align-items: center;

      div {
        font-size: 18px;
        font-weight: bold;
      }
    }
    
    .status {
      position: relative;
      height: 0px;
      width: 0px;
      left: 13px;
      bottom: 10px;
      
      .active {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #00FF00;
      }
      
      .inactive {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FF0000;
      }
    }

    .info {
      display: flex;
      margin-right: 15px;

      .executions {
        display: flex;
        margin-right: 15px;
        align-items: center;
      }

      .frequency {
        display: flex;
        align-items: center;
      }

      .icon {
        margin-right: 5px;
        margin-left: 5px;
        width: 15px;
        height: 15px;
      }
    }
  }
  
  .inlineStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 15px;
  }
  
  .lastExecution {
    opacity: 0.7;
    text-align: center;
    font-size: 14px;
  }

  .stat {
    margin-bottom: 15px;

    .label {
      margin-bottom: 5px;
    }

    .val {
      font-size: 14px;
      display: flex;
    }
  }
}

.back {
  width: 70px;
  margin-bottom: 10px;
}

.chainSelect {
  width: 250px; 
  :global(.react-select__menu) {
    background-color: #7DC1FF;
  }
}


.flex {
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  
  .input {
    width: 100%;
  }
}

.data {
  // background-color: $secondary-color;
  
  &:hover {
    color: $text-color;
    border-color: $text-color;
  }
}
