.logo {
  border-radius: 5px;
}

.selectLogo {
  width: 23px;
  height: 23px;
}

.medium {
  width: 28px;
  height: 28px;
}

.large {
  width: 40px;
  height: 40px;
}

.small {
  width: 16px;
  height: 16px;
}
