.logoWrap {
  width: 76px;
  height: 76px;
  border: 4px solid #050b15;
  border-radius: 50%;

  img {
    width: auto;
    height: 100%;
    max-width: 35px;
  }
}

.details {
  h5 {
    padding-bottom: 12px;
  }
}
