.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.social {
  margin-bottom: 15px;
}

.logo {
  width: 220px;
  border-radius: 15px;
  max-width: 300px;
  display: block;
}
