@use './Styles/variables';

.button {
  color: variables.$secondary-btn-color;
  border: 1px solid transparent;

  &:hover, &:active {
    color: variables.$highlight-color;
    border: 1px solid variables.$secondary-btn-color;
  }
}